<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- script -->
    <%- include('_tailwindCDN') %>

    <title>Welcome To HacktivBit!</title>
</head>
<body>
    <!-- navbar -->
    <%- include('_navbarSession') %>

    <!-- parent -->
    <div class="flex h-screen">
        <!-- left -->
        <div class="w-6/12 m-5">
    
        </div>
        <!-- right -->
        <div class="w-6/12 m-5">
    
        </div>
    </div>


</body>
</html>