<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- script -->
    <%- include('_tailwindCDN') %>

    <title>Welcome To HacktivBit!</title>

    <!-- <style>
        html {
            background-image: url('https://images.unsplash.com/photo-1579621970795-87facc2f976d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        }
    </style> -->

</head>
<body>
    <!-- navbar -->
    <%- include('_navbar') %>
    
    <!-- heading -->
    <div class="flex items-center justify-center min-h-screen">
        <div class="flex items-center justify-center h-3/6">
            <div class="text-center max-w-4xl px-4">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-gray-800">
                    Investing in Innovation for a <span class="text-blue-600 dark:text-blue-500">Better Future</span>
                </h1>
                <p class="mx-auto max-w-xl text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
                    HacktivBit focuses on sectors where cutting-edge technology and capital drive economic progress and long-term success.
                </p>
            </div>
        </div>
</body>
</html>